<div>
{{#if (isdefined title)}}
<div></div>
{{else}}
    <div class="navigation-bar">
        <a href="/admin"><img src="/images/logotpone.png" alt="logo" class="nav-logo"></a>
        <ul class="nav-link">
            <li><a href="/admin/menu">Menu</a></li>
            <li><a href="/admin/todayorder">Today's Order</a></li>
            <li><a href="/admin/searchorders">Search Orders</a></li>
            <li><a href="/admin/trackorder">Track Orders</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </div>
{{/if}}
</div>
